/**
 * Place your custom CSS styles here.
 **/
@namespace url(http://www.w3.org/1999/xhtml);



body
{
		
font-size: 160% !important;
line-height: 1.5 !important;
min-width: auto !important;
font-family: Helvetica,Arial,sans-serif !important;
background: #f5f5f5 !important;
}

.submenu {

    line-height: 2.4em !important;
    margin-top: 26px !important;
}

#toolbarControl .submenu-trigger .link {

    padding-right: 15px !important;
}
.basic #content {
    margin: 0 4% !important;
}

.customerLogo {

    font-weight: normal !important;
    padding: 20px 20px 0px 0px !important;
    mix-blend-mode: multiply;
}



#footerControl {
  
    margin-top: 300px !important;
}

div#ctl00_ctl00_MainContentArea_MainContentArea_basicSearch.basic-search
{
	margin-left: auto !important;
    margin-right: auto !important;

}

#toolbarControl {
  
    border-bottom: none !important;
    font-family: Helvetics, Arial,Sans-Serif !important;
    background: none !important;
    font-size: 1.1em !important;
    font-weight: normal !important;
    padding-right: 20px !important;

  

}

#toolbarControl .presentation {

    height: 12em !important;
}
#toolbarControl .link {
    display: inline;
    float: left;
    padding: 14px 13px !important;
    font-weight: normal !important;
}

.toolbar-navigation .link {
  
    border-left: none !important;
}

.submenu-trigger .icon {
    height: 20px !important;
    width: 20px !important;
    right: 0px !important;
    top: 1.35em !important;
}

span.presentation.bg-p1
 {
    background-color: #027591 !important;
}

div.start-splash-container
{
	    display: inline-flex !important;
}

.browse-alpha-links li {

    padding: 21px 10px !important;
    font-size: 1.1em !important;
    color: #333 !important;
 
}

.browse-alpha-links {
  
  
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.start-splash-container .spotlight_container {
 
    width: 66% !important;
    background: #fff !important;
	border: none !important;
	border-radius: 0px !important;
	padding: 20px !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)!important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  border-top: 4px solid orange !important;
}


.spotlight_container ul {
    padding-left: 30px !important;
    list-style: disc none outside;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    line-height: 2em !important;
}


.services_container {
    position: relative;
    margin-left: 4% !important;
    width: 33% !important;
    padding: 20px !important;
    border: none !important;
    overflow: hidden;
	background: #fff !important;
	border-radius: 0px !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)!important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  border-top: 4px solid orange !important;
}



.services_container ul {

    display: grid !important;
    padding-top: 21px !important;
    padding-bottom: 21px !important;
}

.services_container ul li {
    width: 90% !important;
    padding: 10px 0px 10px 0px !important;
    border-bottom: 1px Solid #eee !important;}

    .spot-image {
    float: left;
    width: 40% !important;
}
    .spot-image img {
    max-width: 84px !important;
    padding-top: 5px !important;
    padding-right: 20px !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.search_other_services_link span
 {
    font-size: 1.1em !important;
    color: #666 !important;
    padding-top: 12px !important;
    padding-top: 12px !important;
    padding-left: 10px !important;
}
.spot-image {
 
    text-align: -webkit-center !important;
}


.browse-alpha {

    margin-top: 30px !important;
}

.toolbar-navigation {
    position: absolute !important;
    display: -webkit-box !important;
    margin-left: 10px !important;
    
}
   

.toolbar-tools {
   
    background: #027591 !important;
    margin-right: -20px !important;

 
}


div.browse-alpha
{

    max-width: 96.5% !important;
    background: #fff !important;
	padding: 20px !important;

    margin-top: 100px !important;
   margin-left: -10px !important;
    margin-right: 0px !important;
    width: 96.5% !important;


}

.feature_caption {
    font-size: 1.5em !important;
    padding: 0px 10px !important;
    background: unset !important;
    color: #333 !important;
    margin-bottom: 5px !important;
    font-weight: normal !important;
}




#mainContentArea {

    background: #f5f5f5 !important;
}	

#outerContainer {

    background: #f5f5f5 !important;
}

#footerControl {

    background: #f5f5f5 !important;

}

.wide #header {

    background: #f5f5f5 !important;
}

.basic #content {

    background: #f5f5f5 !important;
}
.dynamed .find-field-controls {
    padding: 25px 0 0 0px !important;
}
div.find-field-controls
{
	padding-left: 0px !important;
}

.basic .find-field-controls {
  
    padding-left: -10px !important;
}

div.find-field-controls
{
	clear: both !important;
	
}

div#ctl00_ctl00_MainContentArea_MainContentArea_basicSearch.basic-search
{
        max-width: 1200px !important;
            width: 90% !important;
}

div.find-field-inner.find-field-simple
{
	width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.logo-wrapper {

    margin-left: auto !important;
    margin-right: auto !important;
    position: relative !important;
    clear: both !important;
    width: 100% !important;
    max-width: 100% !important;
}

.logo-image {
    max-width: 250px !important;
    margin-left: auto !important;
	margin-right: auto!important;
    mix-blend-mode: multiply;
}

.basic .find-field-controls {
    max-width: unset !important;
    padding: 19px 0 0 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}
.find-field-inputs {
    position: relative !important;
	width: 60% !important; 
    margin-left: auto !important;
    margin-right: auto !important;
}

.textbox {
    width: 70% !important;
}

.find-field-submit {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    white-space: unset !important;
}



input[type=text], textarea, select {
	color: #000 !important;
	padding-left: 10px !important;

}

.border-p3, .styled-button-c3 {
    border-color: orange !important;
    height: 35px !important;
	border-radius: 2px !important;
	background-color: orange !important;
}

input#ctl00_ctl00_MainContentArea_MainContentArea_findField_SearchButton.button.styled-button-c3
 {
    border-color: orange !important;
	background-color: orange !important;
}

input#ctl00_ctl00_MainContentArea_MainContentArea_findField_SearchTerm1.textbox.border-p3.ui-autocomplete-input
{
	border-color: #999 !important;
}

.textbox {

    font-family: Helvetica,Arial,Sans-Serif !important;
    background-image: unset !important;
    background-position: 0 -32px!important;
    font-size: 1.3em !important;
    background: #fff !important;

}



.alpha-trail a {

    text-transform: none!important;
    clear: both !important;
    position: relative !important;
    display: table-row !important;
    line-height: 3em !important;
}

.button.styled-button-c3 {
    padding: 4px 13px !important;
    margin: 0px 4px !important;
    font-size: 1.4em !important;
    font-family: Helvetica,Arial,sans-serif !important;
    font-weight: normal !important;
    height: 43px !important;
}

.button, .button:link {
    
    background: unset !important;
   
}




@media (max-width: 1024px) 
{

    div#ctl00_ctl00_MainContentArea_MainContentArea_basicSearch.basic-search
{
      
            width: 90% !important;
}

div.start-splash-container
{
        display: block !important;
            margin-right: 1% !important;
}

.start-splash-container .spotlight_container {
 
    width: 94% !important;
    margin-bottom: 30px !important;
}

.services_container {
   width: 94% !important;
   margin-left: 0px !important;
   
}



	.find-field-inputs {
    position: relative !important;
	width: 80% !important; 
    margin-left: auto !important;
    margin-right: auto !important;
}

.textbox {
    width: 70% !important;
}

.find-field-submit {

    float: right !important;
    width: 25% !important;
}
.button.styled-button-c3 {

	padding-left: 12% !important;
	 padding-right: 12% !important;
}

a#ctl00_ctl00_MainContentArea_MainContentArea_findField_lnkHelpSearch
{
	display:none !important;
}

div.browse-alpha
{

    max-width: 93.5% !important;
    width: 93.5% !important;


}




}

@media (max-width: 599px) 
{

	.find-field-inputs {
   
	width: 100% !important; 
  
}

div.browse-alpha
{

    margin-left: 0px !important;
    padding-left: 20px !important;
}

.browse-alpha-links {
  
  line-height: 2.5 !important;
}

    span.find-field-submit
 {
    background-color: orange !important;
    text-indent: -9000px;
    background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon-search-white.png);
    background-size: auto 24px;
    background-repeat: no-repeat !important;
    border-radius: 2px !important;
    background-position: center !important;
    width: 20% !important;

}

.textbox {
    width: 75% !important;
}


}