/**
 * Place your custom CSS styles here.
 **/
@namespace url(http://www.w3.org/1999/xhtml);
@font-face {
  font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Italic.ttf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Bold.ttf');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
} 

@font-face {
	font-family: eulexia;
	src: url('http://dyslexicfonts.com/fonts/eulexia.ttf');
} 


div#apvideo.rhi-loaded

{
width: auto !important;
min-width: auto !important;

}

#footerControl {
    position: relative !important;
	
	/**
	this is the style that was cause all the layouts to scroll left and right

	min-width: 960px;

	**/
	min-width: auto !important;
    margin: 0 auto !important;
    min-height: 120px !important;
    font-size: .92em !important;
    line-height: 1.25em !important;
    background: none !important;
    clear: both !important;
}

/**
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
input#Searchbox1.component.auto-complete.textbox.ui-autocomplete-input
 {
	width: auto !important;
	min-width: 20%;
	max-width: 30%;
	display: inline;
	overflow: hidden;

}
**/

.basic #limiterExpanderControl {
   
    margin-top: 20px !important;}

@media (max-width: 1200px) {

/**
input#Searchbox2.component.auto-complete.textbox.ui-autocomplete-input
{
width: auto !important;

}

**/


#citationFields>dt, .short-citation dt, .cd-content dt 
{
    

    text-align: left !important;


}




		.basic #limiterExpanderControl {
			max-width: 90% !important;}

		


		#header {

		border-bottom: 2px solid #E7E7E7 !important;

		}

		.basic #header {
   		border-bottom: none !important;}


		.column2-open #column2
		{
		margin-left: 5px !important;
		font-size: 120% !important;
		display: none !important;
		}
	/**
	this is the div that just has the left and right col borders
	**/
		.column2-open .extra1
		{
		display: none !important;
		}


		.column2-open #content {
			margin-right: auto !important;
		}





	.result-list-li {
    padding-bottom: 20px !important;
	border-bottom: none !important;
	border-top: none !important;
	}


		.record-icon {

		margin-top: 5px !important;
		}


	.title-link

		{
		padding-bottom: 15px !important;

		}


		.clear-button, .clear-button:link {
		
		border: none !important;

}




/**
		.toolbar-navigation {	
    	display: none !important;
		}
**/

/**
		.toolbar-tools {
		padding-top: 10px !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
		float: left !important;

		}**/


		#toolbarFolder .link {
		position: relative !important;
		padding-left: 18px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_folder.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 12px !important;
		}


	#toolbarFolder .folder-control {
		position: relative !important;
		padding-left: 18px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_folder_on.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 12px !important;
		}



		a#lnkHelp.link.color-s1
		{

		position: relative !important;
		padding-left: 18px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_help_white.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 12px !important;
		}

		a#lnkSignIn.link.color-s1
		{

		position: relative !important;
		padding-left: 18px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_sign_in_white.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 12px !important;
		}
		

		a#prefs.link.color-s1
		{

		position: relative !important;
		padding-left: 18px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_settings_white.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 12px !important;
		}
		

	.button.icon-btn {
		padding: 5px 20px 6px 10px !important;
		font-size: 1em !important;
		font-weight: normal !important;
		border-color:#999 !important;
		background: #fff !important;

	}

	.button:hover
	{
	background: #ccc !important;

	}
	.button:focus
	{
	background: #666 !important;

	}

	.icon-btn.dd-menu .arrow {
		top: 6px !important;
	}



@media (max-width: 1024px) {


		body
		{
		/** font-family:opendyslexic !important;  **/
		/** font-size:150%; **/
		min-width: auto !important;
		}

.limiter-item {
    width: 100% !important;

}


.full-text-content .rif_container

{

float:none !important;

}

		.multi-column4 {
		width: 50% !important;}

		.result-list-li {

			border-top: none !important;


		}

		.customerLogo
		{
		display:none !important;
		}

		.record-index {
		display: none;
		
		}

		.title-link

		{
		padding-bottom: 8px !important;

		}

		.record-icon {
		margin-left: -90px !important;
		padding-right: 5px !important;
		margin-top: 2px !important;
		}

		#citationFields>dt

		{
			text-align: left !important;
		}

		#citationFields .citation-title {
		width: 100% !important;
		margin: 0 0 20px !important;
		padding: 0 0 5px !important;
		font-size: 1.9em !important;
		line-height: 1.25 !important;
		min-height: 0 !important;
		font-family: Helvetica, Arial, sans-serif !important;
		border-bottom: 0px !important;

		}

		.content-header {
   		 border-bottom: none !important;
		
		}

		div#content

		{
		padding: 10px 20px
		}

		div#column2

		{ visibility: hidden !important;
		
		}


		

		.column1-open #content {
		margin-left: 5px !important;
		margin-right: 5px !important;
		/** font-size: 120% !important;**/

		}

		.column2-open #content {
		margin-left: 5px !important;
		/** font-size: 120% !important;**/

		}

		.column1-open #column1
		{
		margin-left: 5px !important;
		font-size: 120% !important;
		display: none !important;
		}


		.column2-open #column2
		{
		margin-left: 5px !important;
		font-size: 120% !important;
		display: none !important;
		}
			

		.column2-open .extra1
		{
		display: none !important;
		}

		.column1-open .extra1
		{
display: none !important;
		}

/**
    #header, .landing #header {
    position: relative !important;
    margin: 0 auto !important;
    padding: 10px 0px 5px 20px !important;
    min-height: 74px !important;
    background: #fff url(../../layout2/bg_header.png) 0 bottom repeat-x !important;
	border-bottom: 2px solid #E7E7E7 !important;

	}
**/


input#CreateAlertButton.button.styled-button-c3.rs_preserve

{
	display: none !important;
}


.guided-find-fields li

{
	display:none !important;
}

.guided-find-fields li:first-child {
    display: block !important;
}

.guided-add-row {
	display:none !important;}
	
	a#helpLink
		{
		display: none !important;
		}
input#ClearButton.button.styled-button-c3.rs_preserve
	{
		display: none !important;
		}



	#header{
   			 padding-right: 0px !important;
			}
		









}


@media (max-width: 830px) {


	.logo-img {
			display: none !important;
	
		}






.searching {
		   
			display: none !important;
		   
		}


		.basic .searching {
			display: block !important;
		}

				.multi-column4 {
		width: 100% !important;}

.component, .auto-complete, .textbox, .ui-autocomplete-input, .ltr-text



	* {
	max-width: 90% !important;
	min-width:20% !important;
	width: auto !important;

}

/**
#header, .landing #header

{
	 padding: 10px 20px 5px 20px !important;

}
**/






	

.clear-button{
	display: none !important;

}





		
}	

@media (max-width: 620px) 
{
	

		#findFieldLinks
		{
		display: none !important;
		}

		.multi-column4 {
		width: 100% !important;}






span#showLessChooseDatabases.showLessChooseDatabases

{

	display:none !important;
}


		#header {
		position: relative !important;
		margin: 0 auto !important;
		padding: 10px 0px 10px 20px !important;
		min-height: auto !important;
		background: #fff url(../../layout2/bg_header.png) 0 bottom repeat-x !important;
		border-bottom: 2px solid #E7E7E7 !important;
		z-index: 20000 !important;
		}


		#toolbarControl {
		
		
		height: 50px !important;
		width: 100% !important;
		display: inline-block !important;
	
		}

		.toolbar-navigation {	
    	display: none !important;
		}

		.toolbar-tools .link {
		font-size: 15px !important;
		font-weight: normal !important;
		margin-left: 4px !important;
		}

		.toolbar-tools {
		padding-top: 10px !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
		float: left !important;

		}

		#toolbarFolder .link {
		position: relative !important;
		padding-left: 24px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_folder.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 16px !important;
		}

		#toolbarFolder .folder-control {
		position: relative !important;
		padding-left: 24px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_folder_on.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 16px !important;
		}

		a#lnkHelp.link.color-s1
		{

		position: relative !important;
		padding-left: 24px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_help_white.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 16px !important;
		}

		a#lnkSignIn.link.color-s1
		{

		position: relative !important;
		padding-left: 24px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_sign_in_white.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 16px !important;
		}
		

		a#prefs.link.color-s1
		{

		position: relative !important;
		padding-left: 24px !important;
		background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon_settings_white.png) !important;
		background-repeat: no-repeat !important;
		background-position: 0px 0px !important;
    	background-size: auto 16px !important;
		}
		
	li#itemLanguages.nav-item.submenu-trigger
		{

		display: none !important;
		}
		






/**	
		fieldset.find-field-controls
		{
		width: 70%;
		}

        ul#findFieldLinks		

		{
		display: none !important;
		}
		h2.searching

		{
		display: none !important;
		}


		.find-field-controls {
		position: relative;
		display: block;
		padding: 0px 0 0 0px !important;
}

**/
	

		.basic .branding-Beside .logo-img, .basic .branding-Beside .logo {
		display: table-cell;
		max-width: 120px;
		float: none;
		vertical-align: top;
		display: block !important;
		margin: 0 auto !important;
	}


		

		.find-field-controls {

		padding: 0px 0px 0px 0px !important;
		}
	
 /** 
#header, .landing #header {
  position: relative !important;
    margin: 0 auto !important;
    padding: 14px 0px 5px 20px !important;
	min-height: 45px !important;
	max-height: auto !important;
    background: #fff url(../../layout2/bg_header.png) 0 bottom repeat-x !important;
	border-bottom: 2px solid #E7E7E7 !important;


	}**/


/**

		input[type=text].textbox
		{
		width: auto !important;
		width: 100% !important;
		max-width: 600px !important; 
		min-width: 75px !important;
		margin: 2px 0px 0px 0px !important;
		padding: 0px 12px 0px 12px !important;
		height: 35px !important;
		font-size: 16px !important;
		line-height: 1 !important;
		background-color: #FFF !important;
		border: 1px solid #ccc !important;
		border-radius: 3px !important;




		}

			.find-field-submit {
			padding-left: 30px !important;}


		.clear-button, .clear-button:link {
			position: relative !important;
			float: right !important;
			right: -16px !important;
			left: auto !important;
			top: -25px !important;
			border: none !important;
			width: 14px !important;
			height: 14px !important;
			background-image: url(https://jaybellew.github.io/graildesignsystem/images/icon-close-gray-bg.png) !important;
			background-position: 50% 50% !important;
			background-size: cover !important;
			background-repeat: no-repeat !important;
		}
		**/
/**

		.color-s3, .styled-button-c3
		{
			height: 37px !important;
			font-size: 16px !important;
			padding: 0px 12px 0px 12px !important;
			font-weight: normal !important;
		}

		body
		{
	
		font-size:150% !important;
		min-width: 300px !important;
		}
**/
		

		.preview-hover {
		display: none !important;
	
		}

		.content-header .page-title {
		display: none;
		}
		#optionsControls {
			position: relative;
			z-index: 2;
			float: left !important;
		}
		.results .content-header {
			margin-left: -15px !important;
		}
		
		.record-icon {
		position: relative !important;
		float: right !important;
		width: 80px !important;
		margin-right: 5px !important;
		text-align: center !important;
		margin-left: 10px !important;
		margin-bottom: 25px !important;
		}
		
		.has-icons .display-info {

		padding: 0 !important;
}

        .add-to-folder{
			position:relative !important;
			margin: 0px 0px 5px 0px !important;
			padding: 0px 0px 5px 0px !important;

		}

		.title-link {
		display: block;
		padding: 0 0px 20px 0 !important;
		font-size: 1.5em !important;
		line-height: 1.4 !important;
		}
/**
		.find-field-inputs {
		margin-left: 15px;
		}
**/
		.record-additional {
		margin-top: 7px !important;
		margin-bottom: 7px!important;
	}

	.record-formats-wrapper .mr-ft

	{
	margin-top: 7px !important;
	margin-bottom: 7px !important;

	}

	#sortOptionsWrapper {
   
	right: auto !important;
	top: auto !important;
	width: 300px !important;
	margin-top: 0px !important;
	}

	#pageOptionsWrapper {
   
	right: -125% !important;
	top: auto !important;
	width: 275px !important;
	margin-top: 0px !important;
	}

	#alertSaveShareWrapper {
    right: 0 !important;
	left: auto !important;
	top: auto !important;
	width: 300px !important;
	margin-top: 0px !important;
	}



	

	.result-list-li {
    padding: 25px 5px 20px 5px !important;
    color: #222 !important;
    border-bottom: solid 1px #eee !important;
	}

	 #content .abstract, #content .subjectResults

	 {
		 padding-top: 15px !important;
	 }

	 .content-footer {
    position: relative;
    margin-top: 30px !important;
    padding-top: 10px !important;
	border-top: solid 1px #fff !important;
	font-size: 125% !important;
}
#citationFields .citation-image-box {
			float: none !important;
			

		}


		#apvideo .rhi-carousel-head-label

		{
			display: block !important;

		}

		#apvideo ul{

			clear: both !important;
		}


		.textbox+.dd .dd-active {
			width: 10px !important}
			
			
		
	
}
		
}